In [1]:
import pandas as pd
from time import time

In [2]:
COLUMN_NAMES = ['semester', 'groupCode', 'subjectID',
                'teacherID', 'startTime', 'endTime', 'deviceID', 'id']
df = pd.DataFrame(columns=COLUMN_NAMES)

In [3]:
print(df.empty)

True

In [11]:
dt = {
  "semester": 201,
  "groupCode": "CC01",
  "subjectID": "CO3068",
  "teacherID": 2,
  "startTime": 1615540092,
  "endTime": 1615541092,
  "deviceID": 1,
  "id" : 3
}

In [12]:
df = df.append(dt, ignore_index=True)

In [13]:
df

  semester groupCode subjectID teacherID   startTime     endTime deviceID id
0      201      CC01    CO3068         2  1615540092  1615541092        1  1
1      201      CC01    CO3068         2  1615540092  1615541092        1  2
2      201      CC01    CO3068         2  1615540092  1615541092        1  3

In [14]:
df.index[df['id'] == 2].tolist()

[1]

In [19]:
df["startTime"][0]

1615540092

In [20]:
print(time())

1615543600.1423955

In [21]:
df.drop(df.index[0])

Empty DataFrame
Columns: [semester, groupCode, subjectID, teacherID, startTime, endTime, deviceID, id]
Index: []

In [6]:
time()

1615542539.3135977

In [53]:
import os

In [56]:
os.path.exists("../ailibs_data/log/schedule.csv")

False